@import url(https://fonts.googleapis.com/css?family=Montserrat);

.slide {
	font-family: 'Montserrat';
	font-size: 1.2em;
	color: #fff;
	h2 {
		color: #fff;
		font-family: 'Montserrat';
		font-size: 2em;
	}
	a {
		color: #fff;
	}
}
.slide-no-padding {
	padding: 0;
}
.slide-code {
	h2 {
		text-align: center;
	}
}
.slide-image {
	background-color: #000;
}
.slide-image:before,
.slide-image:after {
	background-size: cover;
	content: " ";
    height: 100%;
	left: 0;
	margin: 0;
    position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

.slide-blue {
	background-color: #2C48C7;
}
.slide-green {
	background-color: #21574E;
}
.slide-orange {
	background-color: #C75A2C;
}

.p-center {
	text-align: center;
}
.p-image {
	max-width: 100%;
}
.p-flex {
	display: flex;
}
.p-flex-align-items-center {
	align-items: center;
}
.p-flex-align-self-center {
	align-self: center;
}
.p-flex-space-30 {
	> div {
		&:not(:first-child) {
		  margin-left: 30px;
		}
		&:not(:last-child) {
		  margin-right: 30px;
		}
	}
}
.p-flex-code {
	margin-left: -80px;
	margin-right: -80px;
	> div {
		flex-basis: 50%;
		&:not(:first-child) {
		  margin-left: 10px;
		}
		&:not(:last-child) {
		  margin-right: 10px;
		}
	}
}
.p-light {
	opacity: 0.8;
}
.p-subheader {
	margin-top: -15px;
	font-size: 0.8em;
}
.p-table-thead-center {
	thead th {
		text-align: center;
	}
}
.p-text-big {
	font-size: 1.4em;
}
.p-text-center {
	text-align: center;
}
.p-text-padding {
	padding: 30px;
}
.p-td-text-top-img {
	text-align: center;
	img {
		vertical-align: text-top;
	}
}
.p-video {
    margin-left: -100px;
    margin-right: -100px;
	max-width: calc(100% + 200px);
}
.p-video-120 {
    margin-left: -60px;
    margin-right: -60px;
    max-width: calc(100% + 120px);
}

.intro {
	background: linear-gradient(to top, #000 1px, #fff 1.5px) repeat-x;

	.css-in-2016 {
	    display: block;
	    font: 5em 'Montserrat';
	    width: 960px;
	    height: 200px;
	    margin: 80px auto 0;
	}

	.text-copy {
	    fill: none;
	    stroke: #000;
	    stroke-dasharray: 30% 45%;
	    stroke-width: 5px;
	    stroke-dashoffset: 0%;
	    animation: stroke-offset 6s infinite linear;
	}

	.text-copy:nth-child(1){
		stroke: #000;
		animation-delay: -1s;
	}

	.text-copy:nth-child(2){
		stroke: #BD0034;
		animation-delay: -2s;
	}

	.text-copy:nth-child(3){
		stroke: #FDB731;
		animation-delay: -3s;
	}

	@keyframes stroke-offset{
		100% {stroke-dashoffset: -75%;}
	}

	.beyond {
		display: block;
		font: 2.4em 'Montserrat';
		margin: 0 auto;
		width: 960px;
	    height: 200px;
	}
	.text-copy2 {
	    fill: none;
	    stroke: #000;
	    stroke-width: 2.5px;
	}

	.link {
		background: #000;
		color: #fff;
		margin-top: 70px;
		font-family: 'Montserrat';
		font-weight: 200;
		font-size: 1.2em;
		padding: 15px;
		text-align: center;
		a {
			background: linear-gradient(to top,currentColor 1.5px,transparent 1.5px) repeat-x;
		}
	}
}

.slide-about-me {
	.twitter-link {
		margin-top: 34px;
	}
}
.slide-about-me:before {
	background-image: url(../images/css2016-sailboat.jpg);
}
.slide-about-me:after {
	background-image: linear-gradient(260deg, #29519e 0%, #94eced 100%);
	opacity: 0.8;
}

.slide-use-today .p-flex {
	margin-top: 90px;
}
.slide-use-today:before {
	background-image: url(../images/clock.jpg);
}
.slide-use-today:after {
	background-image: linear-gradient(260deg, #555 0%, #000 100%);
	opacity: 0.9;
}

.slide-text-right {
	text-align: right;
}

.slide-list {
	ul {
		margin-left: 30px;
		opacity: 0.9;
	}
}

.slide-outro {
	h2 {
		margin-top: 300px;
	}
	&:before {
		background-image: url(../images/san-francisco.jpg);
	}
	&:after {
		background-image: linear-gradient(260deg, #29519e 0%, #94eced 100%);
		opacity: 0.2;
	}
}
// .slide-about-me
// .slide-about-me:after {
// 	background-image: linear-gradient(260deg, #29519e 0%, #94eced 100%);
// 	opacity: 0.8;
// }
